/* Palette URL: http://paletton.com/#uid=1330u0k3AJT03+a1cTD73yObOs7 */

/* As hex codes */
.color-primary-0 { color: #BCD4CA }	/* Main Primary color */
.color-primary-1 { color: #FDFDFD }
.color-primary-2 { color: #E4EDE9 }
.color-primary-3 { color: #8EB6A5 }
.color-primary-4 { color: #619A81 }

/* As RGBa codes */
.rgba-primary-0 { color: rgba(188,212,202,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(253,253,253,1) }
.rgba-primary-2 { color: rgba(228,237,233,1) }
.rgba-primary-3 { color: rgba(142,182,165,1) }
.rgba-primary-4 { color: rgba( 97,154,129,1) }

$color-primary-0='#BCD4CA';
$color-primary-1='#FDFDFD';
$color-primary-2='#E4EDE9';
$color-primary-3='#8EB6A5';
$color-primary-4='#619A81';

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11px;
}

table {
    border-collapse: collapse;
}

tr, td {
    border: 1px solid #619A81
}

tr:nth-child(even) {
    background: #8EB6A5;
}

tr:nth-child(odd) {
    background: #BCD4CA;
}

td.latitude, td.longitude {
    text-align: left;
}

td.link {
    text-align: center;
}

caption {
    text-align: left;
}


