
/* As hex codes */

.color-primary-0 { color: #AAA039 }	/* Main Primary color */
.color-primary-1 { color: #FFF7AA }
.color-primary-2 { color: #D4CB6A }
.color-primary-3 { color: #807615 }
.color-primary-4 { color: #554D00 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(170,160, 57,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,247,170,1) }
.rgba-primary-2 { color: rgba(212,203,106,1) }
.rgba-primary-3 { color: rgba(128,118, 21,1) }
.rgba-primary-4 { color: rgba( 85, 77,  0,1) }



body {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color:  #554d00;
    background: #D4CB6A
}


table {
    border-collapse: collapse;
    border-color: gray;
}

table,a {
    color: #554d00;
}

th {
   background: #554d00;
   color: #fff7aa;
/*   background: linear-gradient(to bottom, #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%); */
}

tr, td {
    border: 1px solid black;
    color: #554d00;
}

tr:nth-child(even) {
/*    background: #807615; */
    background: #fff7aa;
/*    background: linear-gradient(to bottom, #ebecda 0%,#e0e0c6 40%,#ceceb7 100%); */
}
tr:nth-child(odd) {
    background: #d4cb6a;
    /*    background: linear-gradient(to bottom, #ebecda 0%,#e0e0c6 40%,#ceceb7 100%); */
}

td.latitude, td.longitude {
    text-align: left;
}

td.link {
    text-align: center;
}

caption {
    text-align: left;
}


